<html lang="en">
<head>
  <title> Algoritmo Genetico </title>
  <link rel="icon" href="http://127.0.0.1:5000/static/mapicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Proyecto</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Inicio</a></li>
          <!-- <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
            </ul>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/uploadCSV"><span class="glyphicon glyphicon-upload"></span> Cargar </a></li>
          <!-- <li><a href="/getCSV"><span id="downdload" class="glyphicon glyphicon-download-alt"></span> Descargar </a></li> -->
        </ul>
      </div>
    </div>
  </nav>
 
<div class="container">
  <h2> Cargar archivo: </h2>
  <form action="/processCSV" class="form-horizontal" method="post" enctype="multipart/form-data">
    <input type="file" class="form-control" name="data_file" />
    <input type="submit"  class="form-control" />
</form> 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
